@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";
@import "variables.css";

/*Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/notification.css";
@import "components/user-component.css";
@import "components/line.css";
@import "components/icon-row.css";

/*Screens*/
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/search.css";
@import "screens/more.css";
@import "screens/chatting-room.css";

body {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 68px;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.main-screen {
  margin-left: var(--left-space);
  margin-right: var(--left-space);
}
.fixed {
  position: fixed;
}
.black {
  color: black;
}
