#chatting-room {
  background-color: rgb(198, 231, 253);
  height: 120vh;
}
#chatting-room .status-bar {
  background-color: rgb(198, 231, 253);
  z-index: 2;
}
#chatting-room .chatting-header {
  background-color: rgb(198, 231, 253);
  z-index: 1;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: none;
  }
  20% {
    opacity: 0;
    transform: translateY(30px);
  }
  /*Don't know the reason, but we need 20% or less time not to make animation buggy
  Every time I refresh this,the screen goes 30px up. 0% transform: none and 20% time is the key.*/
  100% {
    opacity: 1;
    transform: none;
  }
}
.chatting-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 79px;
  margin-left: 11px;
  margin-right: 11px;
  padding-top: 17px;
  animation: fadeIn 0.8s ease-in-out;
}
.chatting-screen__timestamp {
  margin-bottom: 18px;
  height: 20px;
  background-color: rgb(107, 107, 107, 0.25);
  padding: 9px 13px 3px 13px;
  border-radius: 20px;
  text-align: center;
  color: white;
  font-size: 13px;
}
.chatting-screen__messages {
  width: 100%;
}
.message-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}
.message-row__img {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  margin-right: 8px;
}
.message-row__info {
  display: flex;
  flex-direction: column;
}
.message-row__sender {
  opacity: 0.68;
  margin-bottom: 20px;
  margin-left: 2px;
  font-weight: 600;
}
.message-row__message {
  position: relative;
  width: 300px;
}
.message-row__bubble-top {
  position: absolute;
  left: -12px;
  top: -8px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  box-shadow: 7px -4px 0px 0px white;
  transform: rotate(16deg);
}
.message-row__bubble {
  background-color: white;
  border-radius: 14px;
  padding: 7px 10px 7px 10px;
  font-size: 20px;
}
.message-row__time {
  position: relative;
  top: 8px;
  font-weight: 600;
  font-size: 12px;
  opacity: 0.68;
}
.message-row--mine {
  justify-content: flex-end;
  margin-top: 35px;
}
.message-row--mine .message-row__message {
  display: flex;
  justify-content: flex-end;
}
.message-row--mine .message-row__bubble {
  background-color: var(--yellow-bright);
  max-width: 100%;
}
.message-row--mine .message-row__bubble-top {
  position: absolute;
  left: 297px;
  top: 4px;
  box-shadow: 7px -4px 0px 0px var(--yellow-bright);
  transform: scaleX(-1);
}
.message-row--mine .message-row__time {
  position: relative;
  top: 18px;
  right: 5px;
}
.keyboard-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}
.keyboard-screen__input-row {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--text-grey);
}
.keyboard-screen__input-row > i:first-child {
  font-size: 25px;
  margin-left: 12px;
}
.keyboard-screen__input-row input {
  border: 1px solid var(--light-text-grey);
  width: 100%;
  padding: 8px 6px 8px 6px;
  margin-left: 12px;
  border-radius: 20px 0px 0px 20px;
  border-right: none;
  font-size: 18px;
  /*margin-right: 82px;*/
}
.keyboard-screen__input-next {
  margin-right: 14px;
  border: 1px solid var(--light-text-grey);
  border-left: none;
  height: 37px;
  width: 90px;
  border-radius: 0px 20px 20px 0px;
}
.keyboard-screen__input-row > i:nth-child(4) {
  position: absolute;
  right: 59px;
  font-size: 23px;
  opacity: 0.8;
}
.keyboard-screen__input-row button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2px;
  right: 16px;
  height: 35px;
  width: 35px;
  border: 1px solid var(--light-text-grey);
  border-radius: 50%;
  background-color: var(--yellow-bright);
}
.keyboard-screen__input-row button i {
  font-size: 20px;
}

.keyboard-screen__input-row:focus-within > i:first-child {
  display: none;
}
