.friends-display-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0px;
  background-color: rgb(128, 128, 128, 0.04);
  font-size: 16px;
}
.friends-display-link i {
  margin: 0px 6px;
  font-size: 18px;
  color: rgb(128, 128, 128, 0.35);
}
.friends-display-link i:last-child {
  margin-left: 10px;
  font-size: 12px;
}
.friends-screen-main {
  margin: 0px var(--left-space);
}
.friends-screen-main__channel-bar {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px 7px 0px;
  padding-top: 6px;
  border-top: 1px solid rgb(128, 128, 128, 0.2);
  color: rgb(128, 128, 128, 0.8);
  font-size: 13px;
}
.friends-screen-main__channel-bar span {
  font-size: 13px;
}
