.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(172, 172, 172, 0.1);
  padding: 15px 0px;
  border-top: 1px solid rgba(172, 172, 172, 0.5);
}
.nav__list {
  display: flex;
  justify-content: space-around;
}
.nav_a {
  position: relative;
  color: rgba(0, 0, 0, 0.75);
}
.nav_comment-notification {
  position: absolute; /*to use this, make parent relative*/
  right: -6px;
  top: -18px;
}
.nav_ellipsis-notification {
  position: absolute; /*to use this, make parent relative*/
  right: -8px;
  top: -14px;
}
