.notification {
  background-color: tomato;
  color: white;
  font-size: 20px;
  display: block; /*giving width*/
  width: 20px;
  border-radius: 50%; /*circle*/
  display: flex; /*centering '1'*/
  justify-content: center;
  align-items: center;
}
.dot-notification {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.text-in-circle {
  display: block;
  margin-left: 3px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid tomato;
  color: tomato;
  text-align: center;
  font-weight: 600;
}
