.notification {
  background-color: tomato;
  color: white;
  font-size: 20px;
  display: block; /*giving width*/
  width: 20px;
  border-radius: 50%; /*circle*/
  display: flex; /*centering '1'*/
  justify-content: center;
  align-items: center;
}
.dot-notification {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
