.user-component,
.user-component__column {
  display: flex;
  align-items: center;
}
.user-component {
  justify-content: space-between;
}
.user-component__column:last-child {
  color: rgba(128, 128, 128, 0.8);
}
.user-component__img {
  margin: 10px;
  margin-left: 0px;
  width: 50px;
  height: 50px;
  border-radius: 18px;
}
.user-component__img-xl {
  width: 70px;
  height: 70px;
  border-radius: 25px;
}
.user-component__name {
  font-size: 20px;
  font-weight: 600;
}
.user-component__discription {
  margin-top: 5px;
  font-size: 14px;
  color: rgb(128, 128, 128, 0.7);
}
